.heading{
    font-size:45px;
    width:100%;
    margin:0px;
    font-family:fantasy;
    box-shadow:5px 5px 25px rgb(211, 44, 38);
}

.note{
    font-size:20px;
    color:black;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.copy_right_footer{
    position:fixed;
    bottom:0;
    text-align:center;
    width:100%;
    font-size:27px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:bold;
    background-color:cadetblue;
    box-shadow: -5px -5px 25px rgb(0, 0, 0);
    border-radius: 5px;
    color:black
}

canvas{
    border:5px solid white;
    border-radius:10px;
    box-shadow:5px 5px 15px grey;
    margin-left:500px;
    margin-top:25px;
}

video{
    margin-left:250;
}